<!--Edicion cv-->   
<div class="modal fade" id="edcv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-12">
                 <label for="formFile" class="form-label">Adjuntar CV</label>
                 <input class="form-control" type="file" id="logoproy">     
               <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary">Guardar</button>
              </div>   
         </div>
        </div>
      </div>
    </div>
  </div>