<!--Edicion experiencia laboral -->   
<div class="modal fade" id="edexperiencia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-12">
                 <label for="formFile" class="form-label">Foto/Logo</label>
                 <input class="form-control" type="file" id="logoexp">   
                   <label for="formFile" class="form-label">Periodo trabajado</label>
                   <input class="form-control" type="text" id="periodot">    
                   <label for="formFile" class="form-label">Descripcion</label>
                   <input class="form-control" type="text" id="descripciont">  
               <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary">Guardar</button>
              </div>   
         </div>
        </div>
      </div>
    </div>
  </div>