<!-- Cv -->
<section id="cv"  class="cv"> 
    <div class="container ">
     <app-botton-edicioncv></app-botton-edicioncv>
     
      <div class="row">
        <div class="col-12"> 
          <h2><i>Curriculum Vitae</i></h2>     
        </div>
        <div class="row">
          <div class="card mb-3" style="max-width: 540px;">
            <div class="btn-editcv"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/CV.jpg" class="img-fluid rounded m-1" alt="...">
              </div> 

              <div class="col-md-8 text-center">
                <div class="card-body">
                  <h5 class="card-title">Mi Curriculum Vitae</h5>
                  <h6>Descargue aqui el CV en formato pdf.</h6>
                  <div id="acciones" class="aciones">
                    <button type="button" class="btn btn-dark">Descargar CV</button>
                  </div>        
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
</section>
