<!-- Educacion -->
<section id="educacion"  class="educacion"> 
    <div class="container ">
      <app-botton-edicioneducacion></app-botton-edicioneducacion>

      <div class="row">
        <div class="col-12"> 
          <h2><i>Educación</i></h2>     
        </div>
        <div class="row">
          <div class="card mb-3" style="max-width: 540px">
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
          <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/AP1.png" class="img-fluid rounded m-1" alt="...">
              </div> 
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2021- 2023</h5>
                  <h6>Plan #ArgentinaPrograma</h6>
                  <p class="card-text">Ministerio de Economía, Cámara de la Industria Argentina del Software (CESSI) e Instituto Nacional de Tecnología Industrial (INTI).</p>
                  <p>Programador Web full-stack junior(Título final)</p>
                    
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>

          <div class="card mb-3" style="max-width: 540px">
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/Ipac.png" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2019- 2021</h5>
                  <h6>IPAC Gastronomía </h6>
                  <p class="card-text">Escuela de Cocina y Pastelería, Morón.</p>
                  <p>Pastelería Profesional(Título intermedio)
                    Maestría en Pastelería(Título final)</p>
                    
                </div>
              </div>
            </div>
          </div>
      
          <div class="card mb-3" style="max-width: 540px">
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/Unlu.png" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2008- 2019</h5>
                  <h6>Universidad Nacional De Lujan </h6>
                  <p class="card-text">Primero y segundo año cursados completos, algunas materias de tercero y cuarto</p>
                  <p>Analista en Sistemas(Título intermedio)
                    Licenciado en Sistemas(Título final)</p>
                    
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>

          <div class="card mb-3" style="max-width: 540px">
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark" ></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/SanJudas.png" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2007- 2008</h5>
                  <h6>Colegio San Judas Tadeo</h6>
                  <p class="card-text">Estudio terceario, Ituzaingo. Primer año cursado completo</p>
                  <p>Analista en Sistemas(Título final)</p>
                    
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px">
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
            <div class="btn-editeduc"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/SanMartin.png" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2002- 2006</h5>
                  <h6>Instituto José de San Martin</h6>
                  <p class="card-text">Estudio secundario, Merlo.</p>
                  <p>Bachiller Orientación Humanidades(Título final)</p>
                    
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>

        </div>
      </div>
    </div>
</section>

