<!-- Proyectos -->
<section id="proyectos"  class="proyectos"> 
    <div class="container ">

      <div class="row">
        <div class="col-12"> 
          <h2><i>Proyectos</i></h2>     
        </div>
        <div class="row">
          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/Portfol.jpg" class="img-fluid rounded m-1" alt="...">
              </div> 
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> 2022-2023</h5>
                  <h6>Portfolio Web-Vanesa Gisele Zanca Rico</h6>
                  <p class="card-text"> Proyecto final del Plan #ArgentinaPrograma (segunda etapa)</p>
                  <p>link</p>
                    
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
</section>
