     <!--Edicion educacion -->   
     <div class="modal fade" id="ededucacion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="col-12">
                     <label for="formFile" class="form-label">Foto/Logo</label>
                     <input class="form-control" type="file" id="logoedu">   
                       <label for="formFile" class="form-label">Periodo de estudio</label>
                       <input class="form-control" type="text" id="periodoes">    
                       <label for="formFile" class="form-label">Descripcion</label>
                       <input class="form-control" type="text" id="descripciones">  
                   <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-secondary">Guardar</button>
                  </div>   
             </div>
            </div>
          </div>
        </div>
      </div>
