
 <!-- Modal para logout-->
 <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title flingreso" id="exampleModalLabel">Logout</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
       
        
        <!-- Formulario login --> 
        <div class="modal-body text-center bingreso">
            <a routerLink="/index"><button type="button"  class="btn btn-secondary cs" data-bs-dismiss="modal">Cerrar sesion</button></a>
        </div>
       </div>
      </div>
     </div>
 