<!-- Habilidades -->
<section id="habilidades" class="habilidades"> 
    <div class="container">
     <app-botton-edicionhabilidad></app-botton-edicionhabilidad>
     
      <div class="row">
        <div class="col-12"> 
          <h2><i>Habilidades</i></h2>     
        </div>
        <div class="row">

          <div class="card mb-3">
            <div class="btn-edithabi"> <a href="#" class="btn-righ"><i class="fa fa-pen" ></i></a></div>
            <div class="btn-edithabi"> <a href="#" class="btn-righ"><i class="fa-solid fa-circle-xmark"></i></a></div>
            <div class="row g-0">   
              <div class="col">
                <div class="card-body">
                  <h5 class="card-title"> Excel</h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                  <h5 class="card-title"> Access</h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
                  </div>
                  <h5 class="card-title"> MySQL</h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                  </div>
                  <h5 class="card-title"> Assembler</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                </div>
                  <h5 class="card-title"> Pascal</h5>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100">70%</div>
                  </div>
                <h5 class="card-title"> Delphi</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">60%</div>
                </div>
                <h5 class="card-title"> JavaScript</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                </div>
                <h5 class="card-title"> R-Analisis de Datos</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 30%;" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100">30%</div>
                </div>
                <h5 class="card-title"> SIP-Sistema Informatico Perinatal</h5>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                </div>
              </div>
            </div>
          </div>   
       
        </div>
      </div>
    </div>
    </div>
</section>

