 <!--Edicion proyectos-->   
 <div class="modal fade" id="edproyectos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-12">
                 <label for="formFile" class="form-label">Foto/Logo</label>
                 <input class="form-control" type="file" id="logoproy">   
                   <label for="formFile" class="form-label">Año del proyecto</label>
                   <input class="form-control" type="text" id="añoproy">    
                   <label for="formFile" class="form-label">Descripcion</label>
                   <input class="form-control" type="text" id="descripcionproy">  
               <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary">Guardar</button>
              </div>   
         </div>
        </div>
      </div>
    </div>
  </div>
