
<!-- Iconos redes sociales -->  
<ul class="list-group list-group-horizontal">
    <a href="../Maqueta HTML/index.html"></a>
      <li class="list-group-item"> <a href="https://www.instagram.com/vansi14/" target="_blank"> <i class="fa-brands fa-square-instagram fa-xl"></i></a></li>
      <li  class="list-group-item"> <a href="https://www.facebook.com/vansi.z" target="_blank"> <i class="fa-brands fa-square-facebook fa-xl"> </i></a> </li>
      <li class="list-group-item"> <a href="https://twitter.com/Giselvan" target="_blank"> <i class="fa-brands fa-square-twitter fa-xl"></i></a> </li>   
      <li class="list-group-item"> <a href="https://github.com/vzanca" target="_blank"> <i class="fa-brands fa-square-github fa-xl"></i></a> </li>
</ul>
     
  
  