<!-- Experiencia Laboral-->
<section id="experiencia"  class="experiencia"> 
    <div class="container "> 

      <div class="row">
        <div class="col-12"> 
          <h2><i>Experiencia Laboral</i></h2>     
        </div>
        <div class="row">

          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/R.S VII.jpg" class="img-fluid rounded m-1" alt="...">
              </div> 
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"> Agosto 2013- Diciembre 2014</h5>
                  <p class="card-text">Región Sanitaria VII, Proyecto de Redes Perinatales- Supervisora y referente SIP (Sistema Informático Perinatal).</p>
                    <p class="card-text"> Región Sanitaria VII, administrativa y secretaria del Sector Materno Infantil.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>

          <div class="card mb-3" style="max-width: 540px">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/Ministerio de salud.jpg" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Diciembre 2014- Actualidad</h5>
                  <p class="card-text">Supervisora, referente y capacitadora SIP (Sistema Informatico Perinatal) a nivel central Provincial en Regiones Sanitarias V, VII y XII en PMI (Programa Materno Infantil), actualmente Dirección de Salud Perinatal en la Dirección Provincial de Equidad de Género en Salud) Ministerio de la Salud de la Provincia de Buenos aires.</p>        
                </div>
              </div>
            </div>
          </div>

          <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="./assets/img/Sabores_pasteleros.jpg" class="img-fluid rounded m-1" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Enero 2020- Actualidad</h5>
                  <p class="card-text">Emprendimiento personal de Pastelería- Sabores Pasteleros.</p>        
                </div>
              </div>
            </div>
          </div>
          <div class="col"></div>
       
        </div>
      </div>
    </div>
</section>
