<!--Edicion habilidades -->   
<div class="modal fade" id="edhabilidad" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-12">  
                   <label for="formFile" class="form-label">Habilidad</label>
                   <input class="form-control" type="text" id="nombrehab">    
                   <label for="formFile" class="form-label">Porcenjae de la habilidad</label>
                   <input class="form-control" type="text" id="porcentajehab">  
               <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-secondary">Guardar</button>
              </div>   
         </div>
        </div>
      </div>
    </div>
  </div>
