<app-navbarlogin></app-navbarlogin>
<app-contacto></app-contacto>
<app-logout></app-logout>
<app-agregarredsocial></app-agregarredsocial>
<app-bannerdashboard></app-bannerdashboard>
<app-perfildashboard></app-perfildashboard>
<app-experienciadashboard></app-experienciadashboard>
<app-agregarexperiencialab></app-agregarexperiencialab>
<app-educaciondashboard></app-educaciondashboard>
<app-agregareducacion></app-agregareducacion>
<app-habilidadesdashboard></app-habilidadesdashboard>
<app-agregarhabilidad></app-agregarhabilidad>
<app-proyectosdashboard></app-proyectosdashboard>
<app-agregarproyecto></app-agregarproyecto>
<app-curriculumdashboard></app-curriculumdashboard>
<app-agregarcv></app-agregarcv>
<app-footer></app-footer>