 <!-- Navbar y logo Arg.Programa(fixed queda siempre la barra al bajar la pag) -->
 <header>
    <nav class="navbar navbar-expand-lg fixed-top">
       <div class="container-fluid">
           <a class="navbar-brand" href="../Maqueta HTML/index.html">
               <img src="./assets/img/Logo_ArgPrograma.png" alt=" " width="160" height="" >
           </a>
   
         <ul class="list-group list-group-horizontal">
           <app-redes></app-redes>
           <app-botton-contacto></app-botton-contacto>
           <app-botton-logout></app-botton-logout>
         </ul>
         
       </div>
      <app-botton-edicionredes></app-botton-edicionredes>
    </nav>
   </header> 
   
