   <!-- Seccion  perfil sobre mi -->
   <section id="sobremi" class="perfil"> 
    <div class="card mat-card">
        <h4 class="subtitu">-Vanesa Gisele Zanca Rico-</h4>
        <h5 class="titulor">Full Stack Developer Jr.</h5>
   
      <div class="row">
        <div style="text-align: right;" class="col-4 mt-2"> 
          <img src="./assets/img/Perfil2.jpg"  class="rounded w-50"  alt="..."> 
          <div class="btn-edit"> <a href="#" class="btn-righ"><i class="fa fa-pen"></i></a></div>
        </div>
    
        <div class="col-8 mt-3">
          <h4>Acerca de mi...</h4>
          <h5> <span class="acercademi">Soy una persona muy responsable y capas, me adapto bien al trabajo en equipo.
            <h5>Siempre dispuesta a dar lo mejor en cada tarea asignada, creciendo y capacitandome para estar a la altura de quien me contrate.</h5>
            <h5>En cuanto al area de Sistemas, Programación y Tecnologia me gusta mucho la parte de diseño y desarrollo.</h5></span>
          </h5>
          <div class="btn-editacercademi"> <a href="#" class="btn-righ"><i class="fa fa-pen"></i></a></div>
        </div>
      </div>       
    </div>
</section>