<!--Edicion redes sociales -->   
<div class="modal fade" id="edredes" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-12">
            <label for="formFile" class="form-label">Nombre nueva Red Social</label>
            <input class="form-control" type="text" id="nuevared"> 
            <label for="formFile" class="form-label">Enlace</label>
            <input class="form-control" type="text" id="nuevaredenlace">
            <label for="formFile" class="form-label">Link para icono </label>
            <input class="form-control" type="text" id="nuevaredenlace">
            <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary">Guardar</button>
            </div>
         </div>
        </div>
      </div>
    </div>
  </div>
